.button_style:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid #000;
}

